[2019-01-23 20:40] ChengyuanZhao opened #2 "Mapping function names and type names"
Mapping of the function names and type names happens in the constructor.

There are also associated getter-functions that let you check the corresponding function/type name from Spanner to Hibernate and vice versa. These functions are useful for testing our implementation of the mapping.

[2019-01-23 20:44] ChengyuanZhao opened #3 "TableExporter implementation"
An implementation of this interface produces  the "CREATE TABLE" DDL statements.

There is no awareness of relationships or interleaving required for implementing this at this point.

[2019-01-23 20:44] dzou opened #4 "Figure out how to run existing Hibernate tests to verify Dialect"
Hibernate has a set of tests for their dialect here: https://github.com/hibernate/hibernate-orm

Devise a method for running tests against our own Spanner-Hibernate dialect.

[2019-01-23 20:48] ChengyuanZhao opened #5 "Sequences exporter and dialect overrides"
This task involves checking the dialect functions related to sequences and implementing the exporter for sequences (that basically does nothing).

[2019-01-23 20:50] ChengyuanZhao commented on #5
Functions including but not limited to:

supportsSequences
supportsPooledSequences
getSequenceNextValString
getSelectSequenceNextValString
getCreateSequenceStrings
getCreateSequenceString
getDropSequenceStrings
getDropSequenceString
getQuerySequencesString
getSequenceInformationExtractor

[2019-01-23 20:52] ChengyuanZhao opened #6 "Limit and offset dialect functions"
Implement and override when necessary functions related to the "LIMIT" and "OFFSET" clauses.

functions include but not limited to:

getLimitHandler
supportsLimit
supportsLimitOffset
supportsVariableLimit
bindLimitParametersInReverseOrder
bindLimitParametersFirst
useMaxForLimit
forceLimitUsage
getLimitString
convertToFirstRowValue

[2019-01-23 20:53] ChengyuanZhao opened #7 "Row Lockout dialect functions"
Spanner doesn't have row lockouts.

Override and implement as necessary including but not limited to:

supportsLockTimeouts
isLockTimeoutParameterized
getLockingStrategy
getForUpdateString
getWriteLockString
getReadLockString
forUpdateOfColumns
supportsOuterJoinForUpdate
getForUpdateString
getForUpdateNowaitString
getForUpdateSkipLockedString
appendLockHint
applyLocksToSql

[2019-01-23 20:55] ChengyuanZhao opened #8 "SELECT statement related dialect functions"
override and implement as needed , including but limited to:

- [x] supportsCurrentTimestampSelection
- [x] isCurrentTimestampSelectStringCallable
- [x] getCurrentTimestampSelectString
- [ ] getCurrentTimestampSQLFunctionName (might not need to override)
- [x] buildSQLExceptionConverter (no need to override)
- [ ] buildSQLExceptionConversionDelegate (relies on understanding simba error codes)
- [

[2019-01-23 20:57] ChengyuanZhao opened #9 "Non-functional/Unsupported features Exporters"
This involves providing implementations that generate BLANK statements for:

sequences
foreign key constraint
unique constraint
auxiliary constraint

[2019-01-23 20:58] ChengyuanZhao opened #10 "IndexExporter implementation"
Provide implementation for index-creation statement generation. This shouldn't be too much work because the statement is very simple in Spanner.

[2019-01-23 20:59] ChengyuanZhao opened #11 "DDL dialect functions"
override and implement as needed, including but not limited to:

canCreateCatalog - default works
getCreateCatalogCommand - default works
getDropCatalogCommand - default works
canCreateSchema - override
getCreateSchemaCommand - override
getDropSchemaCommand - override
getCurrentSchemaCommand - override
getSchemaNameResolver - override
hasAlterTable - default works
dropConstraints - override
qualif

[2019-01-23 21:02] ChengyuanZhao opened #12 "Constraints dialect functions"
Override and implement as needed. These functions basically aren't supposed to do anything other than report that Spanner doesn't support the specific constraint:

including but not limited to:

getUniqueDelegate
supportsUnique
supportsUniqueConstraintInCreateAlterTable
getAddUniqueConstraintString
supportsNotNullUnique
supportsCircularCascadeDeleteConstraints

[2019-01-23 21:03] ChengyuanZhao opened #13 "PERFORM LAST: go through all dialect functions and check for missed overrides"
Because there are literally dozens and dozens of dialect functions, this check should be done at the end to make sure we haven't missed any implementations or overrides.

this involves checking each function in the base dialect against our dialect.

[2019-01-23 21:10] ChengyuanZhao opened #14 "Set up integration tests using secret Spanner credentials"
Similar to our setup in Spring Cloud GCP repo, we need to have integration tests using all of the features with hibernate and the dialect.

[2019-01-23 23:21] dzou commented on #4
I have an initial setup here with instructions: https://github.com/dzou/hibernate-orm

At this point, the tests are run against the spanner jdbc driver, but most of the tests are broken.

[2019-01-24 16:19] meltsufin commented on #4
Is it possible to have the test execution added to this project without copying the actual tests? Do we need a Gradle setup?

[2019-01-24 16:22] dzou commented on #4
I think it should be possible... I will investigate.

[2019-01-24 16:46] ChengyuanZhao commented on #2
Assigned by drawing straws

[2019-01-24 16:50] ChengyuanZhao commented on #8
assigned via coin flip

[2019-01-24 16:56] meltsufin commented on #8
Sounds like there is a missing feature in the Github Assignees module.

[2019-01-25 19:14] ChengyuanZhao opened #17 "TableExporter support for Collections and UNIQUE indexes"
This may be pretty involved because in CREATE and DROP statements now any associated or interleaved indexes and child tables must also be dropped or created.

[2019-01-25 19:17] ChengyuanZhao commented on #17
NOTE:

In Spanner the UNIQUE constraint does go in the CREATE TABLE statement.

Instead you create an index on the column you want to be UNIQUE and that index is given the UNIQUE option, which then enforces uniqueness on the column. This is relevant for the OneToMany or ManyToOne relationship.

[2019-01-25 20:15] dzou commented on #8
Went through each method - it appears that most of them should work with their default impls except for maybe a few. PR coming shortly.

[2019-01-25 21:21] #8 closed

[2019-01-28 16:09] #11 closed

[2019-01-28 19:50] ChengyuanZhao opened #22 "Set up SELECT and DML queries tests based on TestEntity like we have for DDL"

[2019-01-29 18:47] #3 closed

[2019-01-30 16:10] #22 closed

[2019-01-30 21:11] dzou commented on #5
Hi, I think no work needs to be done for this because Spanner does not support sequences, and the default Dialect methods [do not assume support for sequences](https://github.com/hibernate/hibernate-orm/blob/29e135c0150c4cbc7dd5ceea5986ddfcfa9a0354/hibernate-core/src/main/java/org/hibernate/dialect/Dialect.java#L796). I believe the default impls of all the methods are satisfactory.

[2019-01-30 21:11] #5 closed

[2019-01-31 22:11] meltsufin opened #27 "TableExporter.getSqlCreateStrings fails with NPE"
Many of the documentation tests seem to be failing with an NPE in `TableExporter.getSqlCreateStrings`.

[code]

[2019-02-01 17:50] ChengyuanZhao commented on #27
@meltsufin which set of tests does this one fall under (the --tests <test_name>)? I think we would be throwing an UnsupportedOperationException here instead, but want to be sure..

[2019-02-01 19:57] meltsufin commented on #27
Sure, try this one:
[code]

[2019-02-26 19:19] dzou commented on #9
From my research, I think the auxiliary exporter actually refers to the `AuxiliaryDatabaseObject` which can probably be supported in Spanner because it represents essentially a way for someone to run arbitrary SQL commands: https://docs.jboss.org/hibernate/stable/core.old/reference/en/html/mapping-database-object.html

[2019-02-26 20:32] #9 closed

[2019-02-28 16:42] ChengyuanZhao commented on #27
closed by #28

[2019-02-28 16:42] #27 closed

[2019-03-01 15:56] #12 closed

[2019-03-01 16:34] ChengyuanZhao commented on #2
@dmitry-s hey you basically have all this completed for our testing two weeks ago right ? would you mind putting it in a PR here?

[2019-03-01 16:43] ChengyuanZhao commented on #10
for basic (non-interleaved) indexes the standard index exporter actually has the exact same syntax!

I will add test coverage but there is no implementation needed.

[2019-03-01 16:59] #10 closed

[2019-03-01 20:49] #2 closed

[2019-03-01 20:53] dzou commented on #14
I can at least get the setup started for this while the remaining features are implemented.

[2019-03-05 18:53] ChengyuanZhao commented on #4
Obsolete pretty much. The existing tests largely use features we can't support yet. Please see the other open testing issue for integration testing.

[2019-03-05 18:53] #4 closed

[2019-03-08 15:04] dzou opened #39 "Consider converting repo to use Gradle"
Consider converting the project to use Gradle for build system rather than Maven.

The advantage of Gradle is that we can more easily incorporate the integration tests from hibernate-orm into our repository.

[2019-03-08 16:16] ChengyuanZhao commented on #17
Added collection support.

Unfortunately hibernate chooses the FK column names in the collection table and they are NOT the same as the names in the parent table as required by Spanner. So collection support is without interleaved support.

[2019-03-08 16:37] meltsufin commented on #17
Can you point to the code in Hibernate that does it? Is there any way to override it, since interleaved tables are in fact a perfect fit for collections.

[2019-03-08 17:50] ChengyuanZhao commented on #17
It looks like this is handled by `org.hibernate.cfg.annotations.CollectionBinder` where the behavior is hard-coded.

[2019-03-11 21:07] dzou commented on #39
Closed in favor of #43.

[2019-03-11 21:07] #39 closed

[2019-03-12 15:08] ChengyuanZhao opened #47 "Unsupported Features List"
This is a list of features we don't support that I will keep here until we have a place in documentation to put them:

- Simba driver AND new driver don't support jdbc NUMERIC or DECIMAL. This means types like BigDecimal cannot be supported regardless of how we want to store them in Spanner because the driver doesn't even attempt to
- several integration tests use aliases in quotes. This is not su

[2019-03-18 19:29] ChengyuanZhao commented on #14
This looks like it's done

[2019-03-18 19:29] #14 closed

[2019-03-18 19:38] ChengyuanZhao opened #52 "Bring over hibernate ORM integration tests"
- [x] https://github.com/hibernate/hibernate-orm/blob/master/documentation/src/test/java/org/hibernate/userguide/sql/SQLTest.java
- [x] https://github.com/hibernate/hibernate-orm/blob/master/documentation/src/test/java/org/hibernate/userguide/hql/HQLTest.java
- [x] https://github.com/hibernate/hibernate-orm/tree/master/documentation/src/test/java/org/hibernate/userguide/inheritance
- [x] https://g

[2019-03-18 19:51] dzou commented on #52
Sure thing, I'll take the HQL Tests

[2019-03-18 20:45] #6 closed

[2019-03-19 14:52] dzou commented on #47
- Spanner does not support the [WHERE ... ANY or WHERE ... ALL clauses](https://www.w3schools.com/sql/sql_any_all.asp).

[2019-03-19 15:19] meltsufin commented on #47
@dzou  Have you tried it? Interestingly, `ANY` and `ALL` are [reserved](https://cloud.google.com/spanner/docs/lexical) keywords in Spanner.

[2019-03-19 15:27] dzou commented on #47
Yeah, pretty sure it doesn't work. When I try something like:

[code]

I get error "unexpected keyword ANY".

I suspect they reserved the ANY/ALL keywords because they might expand their features to include it in the future.

[2019-03-19 19:18] dzou opened #55 "Investigate if Dialect supports hibernate query (HQL) single-quote literal strings"
When investigating the HQLTests, it appears this test fails. It has something to do with the double single-quote literals in the string `Joe''s`. Determine if there is an adjustment to make this test pass.

[code]

[2019-03-19 21:20] dzou opened #56 "Fix Group BY usage in HQLTests"
Some Group BY tests in the HQL tests break.

Example: (HQLTest.java:2326)
[code]

[2019-03-20 13:58] meltsufin commented on #56
Any ideas as to why?

[2019-03-20 15:10] dzou commented on #56
It's due to the "select p" in conjunction with "group by p" not being translated correctly.

Generated SQL query:

[code]

Error:
[code]

[2019-03-20 15:23] dzou opened #57 "Unsupported Feature: Jdbc NUMERIC or DECIMAL"
Simba driver AND new driver don't support jdbc NUMERIC or DECIMAL. This means types like BigDecimal cannot be supported regardless of how we want to store them in Spanner because the driver doesn't even attempt to read them.

Parent #47

[2019-03-20 15:24] dzou opened #58 "Unsupported Feature: Alias with quotes"
Several integration tests use aliases in quotes. This is not supported in Spanner, but is supported in traditional databases (for aliases that have spaces in them).

Parent #47

[2019-03-20 15:25] dzou opened #59 "Unsupported Feature: WHERE ... ANY or WHERE ... ALL clauses."
Dialect does not support [WHERE ... ANY or WHERE ... ALL clauses](https://www.w3schools.com/sql/sql_any_all.asp) because Spanner does not support them yet.

Parent #47

[2019-03-20 15:26] dzou opened #60 "Unsupported Feature: SOME keyword"
Dialect does not support the [SOME keyword](https://www.geeksforgeeks.org/sql-some/).

Parent: #47

[2019-03-20 15:27] dzou opened #61 "Unsupported Feature: Custom escape char in LIKE expression"
Spanner does not support LIKE predicates with [custom escape chars](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/like-transact-sql?view=sql-server-2017#pattern-matching-with-the-escape-clause).

Parent #47.

[2019-03-20 15:30] dzou opened #62 "Unsupported Feature: bit_length()"
Spanner does not seem to support bit_length(..).

Parent #47.

[2019-03-20 15:32] meltsufin commented on #56
Well the error is accurate, you cannot reference a column in a select that doesn't appear in the group-by. Why does our generated group-by only contain `person2_.id`? How do other dialects solve this problem? It would be exactly the same issue in something like MySQL.

[2019-03-20 15:40] dzou commented on #56
Yeah this one is one I believe can be fixed with some investigation.

[2019-03-21 15:10] ChengyuanZhao commented on #52
I'll take the `collections` test directory

[2019-03-21 15:33] ChengyuanZhao commented on #47
closing since we're apparently using separate issues for each

[2019-03-21 15:33] #47 closed

[2019-03-21 16:16] ChengyuanZhao commented on #52
@dzou @meltsufin

Many of the collection-directory tests modify the state of the tables and need to have those tables deleted and recreated and sometimes as tables with the same name but different actual POJO classes...

For those classes that have these issues we will need to go back to what hibernate does (recreate everything after each test)

[2019-03-21 17:55] dzou commented on #52
I see. It might be OK since I see that the Collection tests appear to only use 2 entities (like Person + Phone). This means each test would only need to recreate/delete 2 tables which is not too bad. So we can just try to add these tests to the CI and see what effects it has on the run time; if it's not too bad then we can keep.

Maybe if our CI grows to take too long (like taking +12 hours) we ca

[2019-03-21 18:50] ChengyuanZhao commented on #56
I did some experimenting and the `org.hibernate.dialect.MySQL8Dialect` doesn't do anything different than what we do.

`select s from SubTestEntity s group by s`

translates to `select subtestent0_.id as id1_1_, subtestent0_.id1 as id2_1_, subtestent0_.id2 as id3_1_ from SubTestEntity subtestent0_ group by subtestent0_.id for share`

Note that the "for share" part is unrelated. It's also there if

[2019-03-21 18:52] ChengyuanZhao commented on #56
Some mention I found that MySQL goes against spec to support this:

https://stackoverflow.com/questions/3168042/can-i-use-non-aggregate-columns-with-group-by

[2019-03-21 18:54] ChengyuanZhao commented on #56
Also, postgres doesn't do anything with those non-aggregated cols either
`select subtestent0_.id as id1_1_, subtestent0_.id1 as id2_1_, subtestent0_.id2 as id3_1_ from SubTestEntity subtestent0_ group by subtestent0_.id for share of subtestent0_`

[2019-03-21 20:57] meltsufin commented on #56
Maybe Oracle is more strict?

[2019-03-21 21:04] dzou commented on #56
This probably would not work on Oracle. The test was only enabled for [H2, Postgres, and MySQL](https://github.com/hibernate/hibernate-orm/blob/070c14e1498010024a3fbfb60512fc8d1517f7e3/documentation/src/test/java/org/hibernate/userguide/hql/HQLTest.java#L2349).

[2019-03-22 13:56] meltsufin commented on #56
Ah, then we probably don't need to worry about it too much. It seems in fact a feature not supported in Spanner, just like it's not supported in Oracle.
I assume there are other "group by" tests in the suite that actually pass for Spanner.

[2019-03-25 18:31] ChengyuanZhao commented on #52
I'll take the `fetching` tests now

[2019-03-26 15:03] dzou commented on #52
I'll take `inheritance`

[2019-03-26 18:38] ChengyuanZhao commented on #52
`GraphParsingTest.java` from `fetching` is deleted and should be restored when the `graph` set of tests is migrated

[2019-04-01 16:09] ChengyuanZhao opened #70 "Make integration tests run faster (UPDATE or parallel) ?"
the current set of tests takes hours to run,
I will take a look at how to make them run without needing to create tables over for each run (which takes over 90% of the time)

[2019-04-01 19:53] ChengyuanZhao opened #72 "Unsupported HT_ temporary tables Hibernate creates for inheritance"
In situations with inheritance and delete operations Hibernate will create tables with the prefix "HT_"

These are completely transparent to even the dialect (us). It DOES NOT USE THE TABLE  exporter and so creates invalid DDL. ( it does NOT include the Primary Key clause, even if empty it is required).

I don't know of a work-around since this doesn't go through the table exporter, which is our o

[2019-04-01 20:02] ChengyuanZhao commented on #72
There is a work around

hibernate.hql.bulk_id_strategy=org.hibernate.hql.spi.id.inline.InlineIdsOrClauseBulkIdStrategy

[2019-04-01 20:02] #72 closed

[2019-04-02 17:27] #70 closed

[2019-04-02 18:48] ChengyuanZhao opened #75 "ColumnDefault annotation doesn't work because JDBC driver accepts NULL values as valid"
usually NULL cannot be stored in a database, so the `@ColumnDefault` annotation value kicks in.

However Spanner can store NULL directly so the JDBC driver never falls back to the default value.

[2019-04-02 19:26] meltsufin commented on #75
usually `NULL` cannot be store in a database??

[2019-04-02 19:36] ChengyuanZhao commented on #75
@meltsufin  The binding of values happens in the `PreparedStatement` implementation of each driver and for example in Postgresql and Mysql there is special treatment for null values as the parameters of the insert DML that were null are remembered so the default values can be used presumably.

In the Spanner JDBC the null value is just bound to the DML statement like any other value.

[2019-04-02 19:58] meltsufin commented on #75
I see, it has to do with column defaults that are supported in some dbs.

[2019-04-02 22:22] dzou opened #77 "Spanner does not support namespaced Table annotations"
Spanner does not support namespace table annotations like this:

[code]

This produces a fully qualified table name `public.store.book`; however one does not specify tables in Spanner in this way. furthermore it is unclear what concepts the catalog or schema would map to.

[2019-04-03 18:05] ChengyuanZhao opened #79 "Ref doc"
Write a ref doc that outlines the specifics of this dialect.

The ref doc will assume the user is familiar with Hibernate and will highlight the peculiarities and limitations of this dialect .

[2019-04-03 18:06] ChengyuanZhao opened #80 "Sample application."
Awaiting a driver

[2019-04-03 18:46] ChengyuanZhao commented on #52
These tests have all been added and fixed to work.

[2019-04-03 18:46] #52 closed

[2019-04-03 19:46] meltsufin commented on #80
For now, can you just use the jar we use for the tests? We can always swap in the official one.

[2019-04-03 19:47] ChengyuanZhao commented on #80
Yes @meltsufin  but for a sample I didn't want to have our mysterious "test-driver.jar" in there.

[2019-04-03 19:51] meltsufin commented on #80
I see, well it can remain unmerged into master until fully available. I was just thinking that we shouldn't have to block on it.

[2019-04-04 16:27] ChengyuanZhao opened #85 "@NamedQueries with explicit timeout setting"
Our JDBC driver (not the simba one) seems to set the connection time out to a non-positive value if the timeout setting is used in this annotation. This causes an exception to be thrown.

For example
`test_jpql_api_hibernate_named_query_example` in HQLTest.java suffers from this.

[2019-04-04 16:28] ChengyuanZhao commented on #85
[code]

[2019-04-04 16:29] ChengyuanZhao commented on #85
[code]

[2019-04-09 20:48] ChengyuanZhao opened #90 "Modify PersistentTableBulkIdStrategy to support Spanner DDL syntax"
relevant for inheritance hierarchies

[2019-04-09 20:51] meltsufin commented on #90
The idea is to see if we can modify it to make it work for us.

[2019-04-09 20:54] #79 closed

[2019-04-15 21:16] #80 closed

[2019-07-03 21:10] meltsufin opened #101 "Resolve critical Sonar findings and exclude tests and samples"
https://sonarcloud.io/project/issues?id=google-cloud-spanner-hibernate&resolved=false

[2019-07-25 13:36] meltsufin opened #105 "Make integration tests wait until ongoing run completes."
https://api.travis-ci.org/v3/job/563283738/log.txt

@ChengyuanZhao Do you know what might be causing the tests to be flaky?

[2019-07-25 14:17] ChengyuanZhao commented on #105
This happens when two builds are going on at the same time. They're messing with the tables (remember we have a single set of tables and don't recreate them for each test).

I would bet it's probably the two rapid merges that happened yesterday fixing the ref doc title. @meltsufin

[2019-07-25 14:29] meltsufin commented on #105
Ah true. Maybe there is a way to make the second build wait for the previous one to finish, like by checking for existence or non-existence of some flag in the database?

[2019-07-25 14:31] ChengyuanZhao commented on #105
@meltsufin sounds like a good idea :). Though I think we may just need to skip running the tests in the waiting build because it wouldn't have enough time (Travis allows 50 minutes if i recall) to wait for the previous and then run its own.

[2019-07-25 14:48] meltsufin commented on #105
Well at least we would know that it failed due to timeout and we can re-run.

[2019-08-06 18:23] meltsufin opened #106 "Move refdoc to README"

[2019-08-06 20:58] #106 closed

[2019-08-22 22:21] saurabhLinqia opened #111 "Push google-cloud-spanner-hibernate-dialect version to maven central repository"
Can we please push the `google-cloud-spanner-hibernate-dialect` version to maven central repository so that we can **easily** start using it in our projects.

* Note: I understand one can clone the repo, build and jar and use, but would be much easier if we have it in maven central repository.

[2019-08-23 06:50] jangsunjin commented on #111
me too!

I want to use it on maven central repository.

Please push up, and plz set the version.

[2019-08-26 18:38] meltsufin opened #113 "Userguide integration tests fail with "you need to populate the table: hibernate_sequence""

[2019-09-18 15:12] bvandiver commented on #58
Spanner uses backquotes `` for identifier quoting.

[2019-09-27 19:08] meltsufin opened #117 "Support Query Hints"
Need to implement `String getQueryHintString(String query, String hints)` method in the `SpannerDialect`.

[2019-09-27 19:10] meltsufin opened #118 "Investigate / Document Spanner Mutation Limit"
Depending on how Hibernate implements `CascadeType.ALL`, users may bump into the 20K mutation limit per transaction.  We should try deleting 20K records at once and document what to do to get around the limitation.

[2019-10-16 18:54] meltsufin opened #130 "Streamline README.adoc by linking to Google Cloud Docs page"
Try to avoid the documentation duplication with:
https://cloud.google.com/spanner/docs/use-hibernate

[2019-10-22 19:22] dzou commented on #117
I have this implemented however this depends on minor change made to the JDBC driver to support prepended query hints; see this: https://github.com/googleapis/google-cloud-java/issues/6540

This describes the route of prepending query hints to a query if it is possible.

The other way to add query hints would be to parse the query string to determine which part of the string that we should add a h

[2019-10-22 20:50] dzou opened #133 "Travis is not running Integration Tests"
Travis is not running the integration tests.

Looking at the past commits, if you click on the little checkbox, you can see that the integration tests do not seem to be running: https://github.com/GoogleCloudPlatform/google-cloud-spanner-hibernate/commits/master

[2019-10-23 20:32] dzou commented on #133
Fixed by #134.

[2019-10-23 20:32] #133 closed

[2019-10-23 20:43] dzou opened #135 "Sonar Plugin is no longer working"
Seems like the sonar plugin configuration is no longer working; see latest build: https://api.travis-ci.com/v3/job/248885402/log.txt

[code]

@meltsufin - any ideas for what might be wrong?

[2019-10-24 13:40] meltsufin commented on #135
I suspect that this section in the `.travis.yml` needs to be re-encrypted.
[code]

[2019-10-24 15:07] dzou commented on #135
@meltsufin could you assist with this? I am not sure how to get this token which must be encrypted; is it just supposed to be the token on my personal account?

[2019-10-24 18:22] meltsufin commented on #135
Sure, I'll take it.

[2019-11-04 19:04] meltsufin opened #138 "Add Micrometer + Stackdriver Monitoring for performance testing"
See: [micrometer-registry-stackdriver](https://github.com/micrometer-metrics/micrometer/tree/master/implementations/micrometer-registry-stackdriver/src/main/java/io/micrometer/stackdriver)

Follow-up to #137.

[2019-11-04 19:49] dzou opened #140 "Investigate Interleaved Support for Spanner Schema Generation"

[2019-11-04 21:55] #135 closed

[2019-11-05 15:08] meltsufin opened #142 "basic-hibernate-sample does not work outside of tests"
The sample is missing `hibernate.cfg.xml` in `src/main/java`.

[2019-11-05 18:45] #142 closed

[2019-11-11 16:19] dzou opened #147 "Refresh the Hibernate Documentation"
Clarify in the Hibernate documentation several points:
- How to enable batching of DML statements.
- Query Hints,
- 20k Mutation Limit
- Batching of DDL statements

Please add more as we think of them.

[2019-11-11 19:44] meltsufin commented on #118
Part of #147.

[2019-11-11 19:44] meltsufin commented on #117
Decided to not support it at this time.

[2019-11-11 19:44] #117 closed

[2019-11-11 19:47] meltsufin commented on #113
Re-open if it's still an issue.

[2019-11-11 19:47] #113 closed

[2019-11-11 19:48] meltsufin commented on #105
Fixed via setting in Travis.

[2019-11-11 19:48] #105 closed

[2019-11-11 19:52] meltsufin commented on #90
The workaround is documented, but we might be able to create and auto-wire our own version of `PersistentTableBulkIdStrategy`.

[2019-11-11 19:56] meltsufin commented on #85
@olavloite WDYT?

[2019-11-11 19:59] meltsufin commented on #77
Documented. Closing.

[2019-11-11 19:59] #77 closed

[2019-11-11 20:00] meltsufin commented on #75
@olavloite Can this be fixed in the JDBC driver?

[2019-11-11 20:03] meltsufin commented on #62
Maybe we should at least document it.

[2019-11-11 20:11] meltsufin commented on #61
According to the [docs](https://cloud.google.com/spanner/docs/functions-and-operators#string-functions), you can escape, but not with a custom character.

LIKE | X [NOT] LIKE Y | Checks if the STRING in the first operand X matches a pattern specified by the second operand Y. Expressions can contain these characters:A percent sign "%" matches any number of characters or bytesAn underscore "_" match

[2019-11-11 20:12] meltsufin commented on #60
Need to document.

[2019-11-11 20:16] meltsufin commented on #58
Need to find the test that exercises this and see if we can make it work.

[2019-11-11 20:17] meltsufin commented on #57
Already documented.

[2019-11-11 20:17] #57 closed

[2019-11-11 20:22] #56 closed

[2019-11-11 20:27] meltsufin commented on #55
Let's ask someone from Hibernate.

[2019-11-11 20:31] meltsufin commented on #13
Had been done.

[2019-11-11 20:31] #13 closed

[2019-11-11 22:50] dzou commented on #55
Started conversation: https://hibernate.zulipchat.com/#narrow/stream/132096-hibernate-user/topic/Hibernate.20Dialect.20Escapes.20Questions/near/180466972

[2019-11-12 16:29] olavloite commented on #85
This should certainly be supported. I've had a quick look at the code in the JDBC driver, and I have a feeling that there's a bug in the JDBC driver causing this. I'll try to create a test case for it and get back to you.

[2019-11-12 16:34] dzou commented on #85
Thanks for the quick response Knut.

Here's a code example of this if this would be helpful:
https://github.com/GoogleCloudPlatform/google-cloud-spanner-hibernate/blob/0dfd9b616168557639126fc5e5d7b9d56659ce5f/google-cloud-spanner-hibernate-testing/src/main/java/org/hibernate/userguide/model/Phone.java#L45

[2019-11-12 20:20] dzou opened #149 "Implemented Batched DDL for the Schema Migrator (Update)"
Implement batched DDL for the Schema Migrator.

The schema migrator is responsible for table schema updates. This implementation is provided by the `SchemaManagementTool`.

[2019-11-13 08:09] olavloite commented on #85
It seems that this bug has already been fixed somewhere in the meantime. I've just executed the corresponding test case with the timeout enabled, and it works fine with the newest version of the JDBC driver.

[2019-11-13 08:27] olavloite commented on #75
@meltsufin It's not clear to me exactly what the issue is here:
* The `PreparedStatement` interface in JDBC has two `setNull(...)` methods for setting parameters to `NULL`. These are both supported by the Spanner JDBC driver and should be called when you want to send a `NULL` value to the database.
* The `@ColumnDefault` is AFAIK only used by Hiberante for DDL generation, and not when generating v

[2019-11-13 14:55] meltsufin commented on #75
Thanks @olavloite! The documentation clearly states that `@ColumnDefault`

Since Cloud Spanner doesn't support column defaults, there's nothing we can do about it and should just document this as a missing feature.

@ChengyuanZhao WDYT?

[2019-11-13 15:06] ChengyuanZhao commented on #75
Got it, that makes sense. Sounds good to me.

[2019-11-13 15:23] meltsufin commented on #75
We actually already document it, but I think the wording is wrong.

Should be:

[2019-11-13 19:00] dzou commented on #85
@olavloite Thanks for looking into this for us! Yeah looks like this test is now fixed; I'll send out a PR to uncomment the timeout setting.

[2019-11-13 19:35] #85 closed

[2019-11-13 19:37] dzou opened #153 "Remove Bulk ID strategy in the Cloud Java Samples"
Context https://github.com/GoogleCloudPlatform/google-cloud-spanner-hibernate/pull/151.

Do the same thing but for the java doc samples config:
https://github.com/GoogleCloudPlatform/google-cloud-spanner-hibernate/pull/151#pullrequestreview-316488424

[2019-11-14 19:32] meltsufin opened #157 "Add integration test to quarkus-jpa-sample"

[2019-11-14 19:37] #147 closed

[2019-11-14 22:08] meltsufin opened #158 "Add integration test for microprofile-jpa-sample"
Follow-up to #156.

[2019-11-15 20:17] meltsufin commented on #130
Done in #147.

[2019-11-15 20:17] #130 closed

[2019-11-15 20:18] #118 closed

[2019-11-15 20:27] meltsufin commented on #90
We're now auto-configuring `InlineIdsOrClauseBulkIdStrategy` in our dialect.
Done in #151.

[2019-11-15 20:28] #90 closed

[2019-11-15 20:31] dzou opened #164 "Merge cloud doc stuff to github readme"

[2019-11-15 20:33] dzou commented on #164
Fix Documentation about `@ColumnDefault` based on Knut's comments. It only refers to DDL situation.

[2019-11-15 20:34] dzou commented on #164
https://github.com/GoogleCloudPlatform/google-cloud-spanner-hibernate/issues/75

[2019-11-15 20:34] meltsufin commented on #75
Will be handled in #164 as a doc update.

[2019-11-15 20:34] #75 closed

[2019-11-15 21:20] meltsufin opened #165 "Support @Column(unique = true) unique constraints"

[2019-11-15 21:21] meltsufin commented on #17
Closing in favor of #140 and #165 .

[2019-11-15 21:21] #17 closed

[2019-11-16 03:20] meltsufin opened #167 "Add mention of codelab and samples in the readme"

[2019-11-21 20:52] dzou opened #169 "Add docs about Interleaved annotation"
- Add docs about the `@Interleaved` annotation.
- Update docs about the delete cascades. Because Interleaved has an on-delete-cascade

[2019-11-21 23:10] dzou opened #170 "Add Integration Tests for Interleaved feature"
Add more integration tests for the interleaved feature.

[2019-11-25 18:47] dzou opened #171 "Batched DDL fails for creating the Hibernate Sequence table"
If hibernate attempts to create a sequence table, it will fail because it will include [the DML statement which inserts a single row](https://github.com/GoogleCloudPlatform/google-cloud-spanner-hibernate/blob/master/google-cloud-spanner-hibernate-dialect/src/main/java/com/google/cloud/spanner/hibernate/SpannerTableExporter.java#L98) into the DDL batch.

[2019-12-05 20:12] #165 closed

[2019-12-10 19:58] dzou commented on #140
Investigation is complete - remaining items {integration test, documentation} tracked in #169 and #170.

[2019-12-10 19:58] #140 closed

[2019-12-11 19:30] meltsufin opened #176 "Batch schema generation causes the whole batch to fail if one table is missing"
Maybe the solution is to just make the batching optional.
Another option is to query the database metadata and remove non-existing tables from the batch.

[2019-12-11 21:05] #149 closed

[2019-12-17 15:24] saturnism opened #179 "NPE in TableDependencyTracker.getDependentTables()"
Issue present in the master. Issue not present in released version 0.1.0.

From the Quarkus sample:
[code]

[2019-12-17 15:40] meltsufin commented on #179
@dzou Can you take a look? We should really make all of these samples automatically tested by CI.

[2019-12-17 15:44] dzou commented on #179
I'll take a look.

[2019-12-17 16:32] dzou commented on #179
Hi guys, I've run this code through the debugger and the root issue appears to be that Quarkus is not utilizing our `SpannerSchemaManagementTool`; it doesn't seem to respect the property `hibernate.schema_management_tool` being set by our [SpannerServiceContributor](https://github.com/GoogleCloudPlatform/google-cloud-spanner-hibernate/blob/d742835ab780df7a5c576cb6ac12aee76d9670a2/google-cloud-span

[2019-12-17 19:02] #176 closed

[2019-12-18 18:44] dzou opened #182 "Replace String Concatenations in the Dialect with StringBuilder"
String concatenation is used a lot in our dialect, but this can be replaced with usage of StringBuilder which is faster and uses less memory. This is the style of Hibernate core as well, see: https://github.com/hibernate/hibernate-orm/blob/e5dc635a52362f69b69acb8d5b166b69b165dbbd/hibernate-core/src/main/java/org/hibernate/tool/schema/internal/StandardTableExporter.java#L46

[2019-12-18 19:03] #171 closed

[2019-12-19 16:35] dmitry-s commented on #182
This might not be necessary, as java optimizer replaces spring concatenation with StringBuilder anyway, unless we concatenate inside a loop:
https://stackoverflow.com/questions/11942368/why-use-stringbuilder-explicitly-if-the-compiler-converts-string-concatenation-t

[2020-01-08 16:16] dzou opened #184 "The .applySetting(..) calls inside the SpannerServiceContributor might not be executed in Quarkus"
It might be the case that the .applySetting(..) calls do not take affect in Quarkus.

Investigate whether this is true or not.

Also according to Sanne, it is not recommended to call `.applySetting` in the ServiceContributor. See if there are any reasonable alternatives to this approach.

[2020-01-08 19:33] dzou commented on #179
Fixed by #183.

[2020-01-08 19:33] #179 closed

[2020-01-08 19:36] dzou commented on #164
This was all done a while ago when we decided on including the bulk of the documentation in our readme while leaving https://cloud.google.com/spanner/docs/use-hibernate simple/minimal.

The `ColumnDefault` limitations are also correctly documented in our readme; see: https://github.com/GoogleCloudPlatform/google-cloud-spanner-hibernate#column-default-values

[2020-01-08 19:36] #164 closed

[2020-01-08 19:37] dzou commented on #157
Fixed by: #183

[2020-01-08 19:37] #157 closed

[2020-01-08 19:43] dzou commented on #153
Fixed in #1822.

[2020-01-08 19:43] #153 closed

[2020-01-08 22:09] #169 closed

[2020-01-08 22:09] #170 closed

[2020-02-25 14:45] elefeint opened #187 "metrics use the client library version as tool_version"
Spring Cloud GCP metrics record tool_version correctly, but Cloud Spanner Hibernate and R2DBC do not.

[2020-02-25 15:30] elefeint commented on #187
Most likely because the JAR manifest does not have `Implementation-Version:` field.

1.1.0 manifest:
[code]

[2020-02-26 16:32] meltsufin commented on #187
Good catch. I wonder how this is configured differently in spring-cloud-gcp.
Anyone wants to look into it?
cc/ @dzou

[2020-02-26 20:47] elefeint commented on #187
Yep, you are right, it's in the [maven JAR plugin](https://maven.apache.org/shared/maven-archiver/#class_manifest):

[code]

[2020-02-27 18:07] #187 closed

[2020-03-05 20:59] dzou commented on #55
I investigated this; none of the suggestions in the discussion worked for me.

[2020-03-05 21:00] dzou opened #190 "Add Dialect support for Foreign Keys"
Spanner recently released the Foreign Keys feature for the database: https://cloud.google.com/spanner/docs/foreign-keys/overview

The dialect will need to be updated to generate such statements on DDL through the `ForeignKeyExporter`. Other updates may be necessary.

[2020-04-21 19:29] #190 closed

[2020-06-10 11:37] ikenox opened #194 "Cannot build EntityManagerFactory for other database"
I use `google-cloud-spanner-hibernate-dialect` v1.2.0 in my project, and I want to use also H2 Database in the same project for testing.

But, the following test code fails due to an error `Unable to build Hibernate SessionFactory`.

[code]

Stacktrace:
[code]

`SpannerSchemaManagementTool`, which is configured by `SpannerServiceContributor`, seems to be always used regardless of database types. T

[2020-07-03 10:08] RysoBeco opened #196 "Create example with @Interleaved"
Sample of how to use interleaved entity would be helpful.
For instance combination of @GeneratedValue, and @Interleaved when creating entries is not obvious

[2020-07-07 14:05] dzou commented on #196
Thanks for the report, yes we can implement something for this.

[2020-07-09 00:13] dzou commented on #196
@RysoBeco - Created a sample of how to setup the `@Interleaved` annotation in your entity in #197 , this should help; it demonstrates correctly setting up the `@OneToMany` and `@ManyToOne` annotations for your entities.

[2020-07-09 00:15] dzou commented on #182
Good point @dmitry-s - closing this.

[2020-07-09 00:15] #182 closed

[2020-07-10 21:55] #196 closed

[2020-09-08 15:42] dzou opened #198 "Add support for usage of BigDecimal"
After the NUMERIC feature was added to Spanner, BigDecimal is now a supported type to use in Hibernate entities.

Please add support for this feature.

[2020-09-11 15:47] #198 closed

[2020-09-14 15:42] fiarabbit opened #202 "Nothing work with "Pool has been closed" error when no queries are executed for a while"
## Description
1. Create `EntityManager` and do some query
2. Wait for a while ( > 60 sec)
3. Create `EntityManager` and do some query again
The query in 3. will fail with `IllegalStateException: Pool has been closed`

## Environment
### Environment 1
com.google.cloud:google-cloud-spanner:1.46.0
com.google.cloud:google-cloud-spanner-hibernate-dialect:1.0.0
com.google.cloud:google-cloud-spanner-jdb

[2020-09-14 17:44] meltsufin commented on #202
@fiarabbit Thanks for reporting the issue and providing code to reproduce.
@olavloite Are you aware of this issue in the Spanner JDBC driver?

[2020-09-14 17:52] olavloite commented on #202
@fiarabbit Thanks for the detailed report.

@meltsufin No, I didn't know about it and it does surprise me a little, as I normally have a DBeaver instance opened with multiple JDBC connections open to Cloud Spanner databases for days in a row, without ever seeing this error. But with the extensive information in this issue I think I'll be able to reproduce and fix it.

I'll make a separate issue in

[2020-09-14 18:04] meltsufin commented on #202
Thanks for a speedy response @olavloite. We will wait for your triage of the issue.

[2020-09-14 18:43] olavloite commented on #202
@fiarabbit Would you mind sharing exactly how you are creating the credentials that you are using?

The reason that I am asking is that in most cases you would be using either `com.google.auth.oauth2.UserCredentials` or `com.google.auth.oauth2.ServiceAccountCredentials`. Both these classes override the `hashCode()` and `equals(Object)` methods and only use final fields in their implementations. Th

[2020-09-15 01:10] fiarabbit commented on #202
@olavloite Thanks for your support.
### 1
The credential used in my case is `com.google.auth.oauth2.UserCredentials`.
As you can see in [here](https://github.com/googleapis/google-auth-library-java/blob/f38c3c84748fadc1591f092edd1974539cf7b644/oauth2_http/java/com/google/auth/oauth2/UserCredentials.java#L288), `UserCredentials` calls `super.hashCode()`, in which `OAuth2Credentials.hashCode` ([here

[2020-09-15 02:14] fiarabbit commented on #202
@olavloite

1. For my issue, the actual implementation is not under the namespace of `com.google.cloud.spanner.connection` but the namespace of `com.google.cloud.spanner.jdbc`, although this might not relate to this issue.
2. I guess what happens is as below
a. `spanners.put(temporaryAccessNullCredential, spannerInstanceA)`
b. `accessTokenNullCredential.setTemporaryAccess(...)` // becomes the same

[2020-09-15 07:40] olavloite commented on #202
@fiarabbit See https://github.com/googleapis/java-spanner/pull/430

[2020-09-18 14:09] dzou opened #206 "Investigate whether JDBC pooling will improve performance and add to docs"
In discussions offline, another method to improve performance is to add JDBC connection pooling. Let's test how this works and if this will improvement performance, if so, then add some documentation.

[2020-09-22 04:53] CarthageKing opened #207 "SpannerDialect must override bindLimitParametersInReverseOrder() method and make it return true"
We are using Spring JPA, Cloud Spanner, Spanner JDBC drivers and this dialect. We are seeing an issue when we do a paginated query using JPA and we want to view page 3 and beyond.

We tracked it down to SpannerDialect not overriding the `bindLimitParametersInReverseOrder()` method. Spanner's syntax for the LIMIT/OFFSET when both LIMIT and OFFSET values are provided is "limit ? offset ?". However,

[2020-09-29 16:07] dzou commented on #207
Thank you for the report @CarthageKing - I'll get this in shortly and cut a new release.

[2020-09-29 16:37] dzou commented on #194
Fixed by: https://github.com/GoogleCloudPlatform/google-cloud-spanner-hibernate/pull/208

[2020-09-29 16:37] #194 closed

[2020-09-29 19:23] #207 closed

[2020-09-29 19:23] #167 closed

[2020-09-30 21:24] dzou commented on #207
@CarthageKing - This fix is now released in version `1.4.0`.

[2020-10-02 03:43] meltsufin opened #213 "Warn when a composite id is not use with @Interleaved"
If it's possible.

[2020-10-02 03:45] meltsufin opened #214 "Enable DML batching by default"
Batching provides significant performance improvement. Can we enable it by default?

[2020-10-02 16:55] dzou opened #215 "Create a useful benchmark for measuring Hibernate performance"
Currently the Hibernate benchmarking code is quite experimental. It would be useful to create a more comprehensive benchmark that users can refer to and understand.

Notes:
- [ ]  More entity types (interleaved tables)
- [ ]  Use batching
- [ ]  Include Scaling Options
- [ ]  Configurable load settings
- [ ]  Warm up time

[2020-10-06 14:31] #184 closed

[2020-10-12 14:58] dzou opened #219 "Upgrade Log4J dependency"
Upgrade the log4j dependency; Github is warning that there is a vulnerability in the latest version.

[2020-10-13 21:28] #219 closed

[2020-10-30 20:07] dzou opened #224 "Create samples demonstrating advanced usages of Spanner Hibernate"
Customers seem to be unsure how to access advanced usages of Spanner from Hibernate. These features include:

- Read-only transactions (not just read-write ones)
- Stale reads
- Native queries (Run SQL statements directly; not relying on Hibernate to generate them)
- How to access Spanner JDBC functionality from Hibernate

[2021-01-06 16:56] dzou commented on #224
Completed in: https://github.com/GoogleCloudPlatform/google-cloud-spanner-hibernate/pull/226

[2021-01-06 16:56] #224 closed

[2021-03-02 21:27] Seth-Deal opened #231 "Attempting to map a spanner array to a java array fails silently"
When using EntityManager to try and run a native query, the query fails silently when trying to map array columns.

Example:
[code]
 Fails when trying to get the resultList.

 My data model (CatalogListing) That i am trying to map back to is this:

[code]

If i remove the two array columns, the call works again.

[code]

[2021-03-02 23:38] dzou commented on #231
Thanks for the report. It looks like Hibernate [might not directly support ARRAY to ArrayList<T> mappings out-of-the-box](https://github.com/vladmihalcea/hibernate-types), but we might need to add some kind of adapter class to do this.

Will take a look and see if we can come up with a solution.

[2021-03-03 23:04] dzou commented on #231
Collected some notes so far:
* tutorial on custom types: https://www.baeldung.com/hibernate-custom-types
* someone implemented Array type mappings for Postgres which is similar: https://github.com/vladmihalcea/hibernate-types

I think we need to do something like this; I'll double check with the Spanner client lib team and give it a try.

[2021-03-10 00:28] dzou commented on #231
Feature is under way here: https://github.com/GoogleCloudPlatform/google-cloud-spanner-hibernate/pull/232

I got a proof of concept working; it's a little bit tricky though. Gonna add docs and samples and should be ready soon.

[2021-03-12 23:46] dzou opened #246 "Insert statements are generated for sequence tables after dropping in create-drop mode"
An extra insert statement is generated for sequence tables after tables are dropped in `create-drop` mode. The statement ends up being a no-op and produces an extra error message.

[code]

[2021-03-13 01:18] dzou opened #247 "Fix tests broken by emulator migration."
Followup to https://github.com/GoogleCloudPlatform/google-cloud-spanner-hibernate/pull/234

Some tests were broken after the Emulator migration. I think there are some differences in behavior between the emulator and real spanner that we can investigate later.

[2021-03-18 14:36] dzou commented on #231
Just merged this in: https://github.com/GoogleCloudPlatform/google-cloud-spanner-hibernate/pull/232

I'll be doing a release shortly for this feature. If you want to try it immediately, you can depend on the `1.5.0-SNAPSHOT` version of the project. Add this repo to access the snapshot version:

[code]

[2021-03-29 17:39] dzou commented on #231
Thanks for your patience on this one -- we just released `1.5.0` so you'll be able to use this feature now.

You can check out our [docs](https://github.com/GoogleCloudPlatform/google-cloud-spanner-hibernate#array-column-types) for an example and please feel free to post a question if you get stuck.

Also, one more note -- Regarding the silent failures, I believe Hibernate requires a `log4j.proper

[2021-03-29 17:39] #231 closed

[2021-04-09 19:38] Seth-Deal commented on #231
@dzou Thank you!

[2021-07-01 14:14] suztomo opened #294 "Dependabot config: Stay with Quarkus version 1.X"
Quarkus 2 requires Java 11.  https://quarkus.io/blog/quarkus-2-0-0-final-released/

https://dependabot.com/docs/config-file/#ignored_updates

[2021-07-01 14:42] #294 closed

[2021-10-28 15:08] elefeint opened #334 "Document brief comparison of Hibernate use vs custom Spring Data implementation in Spring Cloud GCP"
Our refdoc describes *how* to use Hibnerate but not why one would choose it instead of the custom Spring Data implementation in Spring Cloud GCP

Add an introductory paragraph explaining this and linking to [ORM comparison page](https://cloud.google.com/spanner/docs/api-libraries-overview) and @dzou 's upcoming framework comparison guide.

[2021-11-30 20:12] dzou opened #344 "Implement Query Hint Support"
Implement query hint support for the Spanner Dialect.

`Dialect.setHint(String key, String value)`.

[2021-11-30 20:23] elefeint commented on #344
I recall the last time we had issues supporting non-front-loaded hints. Would this still be a problem for, say, join hints?

[2021-11-30 20:25] dzou commented on #344
There is some good news, looks like the hints are frontloaded now in the sql syntax!

https://cloud.google.com/spanner/docs/reference/standard-sql/query-syntax#sql_syntax

[code]

[2021-12-01 18:36] dzou commented on #344
@elefeint -- Actually I think I'm wrong about the prepended hints being supported... Despite the SQL syntax documentation, some query hints still must be applied to the part of the query.

I.e. `SELECT * FROM TABLE@{FORCE_INDEX=specify_table_idx_here}`.

I will do some research for how people solve this.

[2022-01-24 02:13] husseyd opened #366 "Hibernate 5.5+ / Spring Boot 2.6.X"
Hi guys,

The latest release lacks some support for Hibernate 5.5+, which locks projects to Spring Boot < 2.6 and thus prevents use of [Spring Cloud GCP >2.0.x][(url](https://github.com/GoogleCloudPlatform/spring-cloud-gcp))

Just an FYI really, you're probably already on it.

[2022-01-24 15:45] meltsufin commented on #366
Yes, we're working on it in #364.

[2022-02-04 17:27] elefeint opened #373 "Fix Quarkus sample"
Quarkus sample broke with #337 due to a hanging attempt to get Spanner sessions in `SessionClient.internalBatchCreateSessions()`.

It would be useful to test https://github.com/quarkiverse/quarkus-google-cloud-services/tree/main/spanner to understand whether the issue is reproducible with the client library, or if it's a combination of JDBC driver and Hibernate dialect.

Re-enable the integration

[2022-02-22 18:24] lucasoares opened #381 "Spanner JSON type can not be null using JPA + Hibernate"
Hello.

Spanner JSON fields are documented as a nullable column: https://cloud.google.com/spanner/docs/working-with-json#create_a_table_with_a_json_column

I'm getting an error using it with JPA, Spring Data and hibernate trying to save the entity with a null JSON attribute.

Entities:
[code]

Saving:
[code]

Error:
[code]

If I set an empty object in the custom data attribute the entity is saved

[2022-02-23 17:18] suztomo commented on #381
@lucasoares Would you share few more things below?

How was `interaction` defined?

Would you share stacktrace of the error? It would tell which code is throwing IllegalArgumentException.

In case the stacktrace doesn't tell the versions, would you share the version of google-cloud-spanner-hibernate are you using?

[2022-02-23 21:47] manoelstilpen commented on #381
I'm probably facing the same with `SpannerArrayListType`.

I needed to create a new ARRAY column on my table so every row inserted before this is `NULL`.

When I try to call `repository.save()` on any row which the new column is `NULL`  I got the following null pointer exception:

[code]

[2022-02-23 21:57] lucasoares commented on #381
Hello @suztomo

The interaction is defined by creating the java object, nothing special about it:
[code]

You can replicate the same problem having a simple entity with a id and the JSON field.. You will not be able to save the entity if the json field is null.
If you set the json field with an empty instance (without any attribute) you willl be able to save the entity.

The stacktrace:
[code]

Li

[2022-02-24 16:39] suztomo commented on #381
Memo:

`com.google.cloud.spanner.jdbc.JdbcParameterStore` and `com.google.cloud.spanner.jdbc.JdbcPreparedStatement` are in `com.google.cloud:google-cloud-spanner-jdbc` artifact.

[2022-03-03 17:10] mpeddada1 commented on #366
Closing this issue. Hibernate 5.5+ support has been [released](https://github.com/GoogleCloudPlatform/google-cloud-spanner-hibernate/releases/tag/1.5.3).

[2022-03-03 17:10] #366 closed

[2022-03-07 18:18] lucasoares opened #392 "Illegal argument on static metamodel field injection for Spanner Array"
Hello.

My team uses the maven processor to generate our metamodels for each JPA entity with this configuration:
[code]

For some reason, if you have a Spanner Array type in any JPA entity this error will be logged on application startup:
[code]

The `HiddenConversation` entity in this case is:

[code]

The ERROR message is displayed for both list attributes of this class.

Wondering if the metamo

[2022-03-07 22:12] mpeddada1 commented on #392
Hi @lucasoares, thanks for filing the issue. Could you provide a bit more information on the following:

1) A stacktrace of the error. It can help us trace where the error is coming from.
2) The version of `google-cloud-spanner-hibernate` you are currently using.

[2022-03-08 04:18] lucasoares commented on #392
Hello.

There is no stacktrace. It's an error logging without any stacktrace.

Library version:
[code]

[2022-03-08 22:32] mpeddada1 commented on #392
Thanks for the info. I see that you're using `1.5.2`. The latest release (1.5.3) which upgrades Hibernate to version `5.6` is out. Can you try that out and see if it makes a difference?

[2022-03-10 20:00] mpeddada1 commented on #392
Would be able to provide a small reproducer which can help us look into this in detail and troubleshoot?

[2022-03-10 20:40] meltsufin commented on #392
Is this issue related?
https://hibernate.atlassian.net/browse/HHH-11803

[2022-03-14 19:45] lucasoares commented on #392
@mpeddada1 I think I was missing something in the configuration.. I revised my maven dependencies and now executing clean install I can't see any ERROR for metamodels running the application.. Yes @meltsufin it is related

Updating the hibernate is the right way to fix it.. Thank you.

[2022-03-14 19:45] #392 closed

[2022-04-05 10:31] nayanbijagare opened #404 "How to use pessimistic_write lock with Spanner using JPA/hibernate"
I have a requirement like, whenever employee information is read from employee table, no-one can read/update/delete the the same row information until transaction gets finished,

I got to know for such purpose "PESSIMISTIC_WRITE" lock is used in JPA.
I tried to use it by using below code but its not holding the lock.
When I try to hit the same query from other instance its giving result

Could you

[2022-04-05 14:27] meltsufin commented on #404
Cloud Spanner does not support selecting for lock, like select-for-update. We might need to throw an exception when someone tries to use this though.
(@elefeint see [here](https://github.com/GoogleCloudPlatform/google-cloud-spanner-hibernate/blob/master/google-cloud-spanner-hibernate-dialect/src/main/java/com/google/cloud/spanner/hibernate/SpannerDialect.java#L378)).

Instead you can try using opt

[2022-04-05 15:37] nayanbijagare commented on #404
Could you please suggest if there is any provision for "optimistic locking and/or Spanner read-write transactions" in Hibernate/JPA?

[2022-04-05 17:58] olavloite commented on #404
Note that these two are very different things:
1. Spanner read/write transactions: This will be used automatically for all transactions that you create with JPA. From your example it seems that you are using Spring. Annotating a method with `@Transactional` will make that method automatically start a transaction when it is started.  Here's a tutorial on how to use transactions in general with Spri

[2022-04-11 14:33] mpeddada1 commented on #404
Thank you for the additional context, @olavloite!

[2022-04-12 08:34] nayanbijagare commented on #404
@olavloite  Thanks for providing me valuable information.
Actually I am having use case like,  I want to generate sequential number and store it into db and the next number should be generated by reading last store number.
ex- suppose100 is stored in db. when new request comes for sequence generation, last inserted value ie; 100 will be read and by referring it 101 will be generated and store into

[2022-04-12 12:56] elefeint commented on #404
Generating sequential IDs like this will be a serious bottleneck in your application, especially if it's a primary key. Consider using UUIDs instead.

If you have to do sequential numbers, using optimistic locking strategies, like @olavloite suggested, is how you would implement such sequential increment.

[2022-04-20 07:08] yrodiere opened #406 "SpannerSchemaManagementTool singleton prevents having multiple persistence units"
See here:

https://github.com/GoogleCloudPlatform/google-cloud-spanner-hibernate/blob/2c97da01f00eaa0865c9205a8f8788fa896aee60/google-cloud-spanner-hibernate-dialect/src/main/java/com/google/cloud/spanner/hibernate/SpannerServiceContributor.java#L42-L45

`SpannerSchemaManagementTool` is effectively a singleton, but [it gets injected with information specific to the persistence unit](https://github

[2022-04-20 15:47] yrodiere commented on #406
This sample is not relevant, because the problem is not about having multiple entities.

The problem is about having multiple persistence units, i.e. multiple instances of Hibernate ORM in the same application. In that case, you have multiple service registries and multiple entity manager factories. If your `SpannerSchemaManagementTool` is a singleton, it will get injected (through [this method](h

[2022-04-20 21:11] zhumin8 commented on #406
Thank you for the detailed explanation. We will look into this.

[2022-06-23 20:38] rodrigogs opened #442 "How to reorder joins in a query?"
Hello! I've been using this library in a project where we build queries dynamically, based on a filter that is populated by the users.

That said, we add joins on demand by using Specifications depending on the filter.

Analyzing the generated queries performance we noticed that the join order is absolutely critical. When we move heavy table joins to the end of the query, we get a significant perf

[2022-06-24 20:57] elefeint commented on #442
Looking at [Spring Data Jpa utils](https://github.com/spring-projects/spring-data-jpa/blob/f2e7bddb5aa4610f8a5fcf233e44df66ca2011cb/spring-data-jpa/src/main/java/org/springframework/data/jpa/repository/query/QueryUtils.java#L888), it looks to me like the joins will remain in the order in which the specification asks for it to be joined. Are you seeing non-deterministic behavior with the join order

[2022-07-11 20:12] rodrigogs commented on #344
So, there's no hint support?

No way I could do something like `@{FORCE_INDEX=my_index}` without using a native query?

[2022-07-11 20:22] elefeint commented on #344
The short answer is no; there is no hint support.

The longer answer is that while implementing hints that precede the SQL query (statement hints) is reasonably easy, implementing Cloud Spanner join hints and table hints is infeasible without either Hibernate supporting a new hint type, or Spring Data JPA supporting Hibernate's custom database hint API. There is also a hackaround by using Hibernat

[2022-08-02 14:06] zhumin8 commented on #442
Closing as part of cleanup. Please re-open if it's still relevant

[2022-08-02 14:59] #442 closed

[2022-08-02 17:08] zhumin8 commented on #247
Won't fix because:

Mitigated in #336 by tests against a real Spanner instance nightly.

[2022-08-02 17:08] #247 closed

[2022-08-04 17:56] JoeWang1127 commented on #138
close as obsolete

[2022-08-04 17:56] #138 closed

[2022-08-04 19:37] JoeWang1127 commented on #101
close as not planned

[2022-08-04 19:37] #101 closed

[2022-08-04 19:41] JoeWang1127 commented on #158
close as not planned

[2022-08-04 19:41] #158 closed

[2022-08-08 13:51] JoeWang1127 commented on #59
close as not planned

[2022-08-08 13:51] #59 closed

[2022-08-08 13:51] JoeWang1127 commented on #61
close as not planned

[2022-08-08 13:51] #61 closed

[2022-08-08 13:52] JoeWang1127 commented on #58
close as not planned

[2022-08-08 13:52] #58 closed

[2022-08-08 23:13] elefeint commented on #334
This is basically the same issue as GoogleCloudPlatform/spring-cloud-gcp#680.
Cross-link after docs are published.

[2022-08-10 15:25] #202 closed

[2022-08-12 13:39] #404 closed

[2022-08-12 13:42] meltsufin commented on #406
@yrodiere we welcome contributions for this from the community.

[2022-08-16 06:30] yrodiere commented on #406
@meltsufin Then let's hope the community will provide a contribution. I'm not personally a Spanner user, so fixing bugs in this project unfortunately cannot be a priority for me, but I'll see if I have time to have a look in the future.

[2022-08-26 16:17] mpeddada1 commented on #406
Thanks for providing the initial context for this issue! We will keep this issue open as we await contributions from the community.

[2022-10-17 16:03] olavloite opened #470 "SQLExceptions during schema migrations are silently ignored"
The `SpannerSchemaManagementTool` will automatically include the `START BATCH DDL` and `RUN BATCH` statements as auxiliary database objects for each schema migration. This ensures that each migration is executed as a single batch, which improves execution performance, and ensures that the parsing of the entire batch is atomic. This means that if one statement is invalid, the entire batch will be r

[2022-10-20 16:39] #470 closed

[2022-10-20 18:09] elefeint commented on #470
I wonder if Hibernate 6 dialect is affected by this?
https://github.com/hibernate/hibernate-orm/blob/0baefce734bed664a20f994ad35b0e0017aca770/hibernate-core/src/main/java/org/hibernate/dialect/SpannerDialect.java

[2022-10-24 17:45] sqlboy opened #473 "Hibernate always translates SpannerException to JpaSystemException"
I'm actually not 100% sure if this is the right place for this but, here goes.  I'm using Kotlin, Spring, Hibernate/Spanner and I've run into a problem where no matter what exception Spanner JDBC throws, its always translated into a JpaSystemException by Hibernate.

Basic Project:

- Spring Boot 2.7
- Hibernate Dialect: 2.53
- Spanner JDBC: 2.7.11
- Spanner: 6.31.2

Config:

`  datasource:
    dri

[2022-10-24 20:56] emmileaf commented on #473
@sqlboy thank you for reporting this. Given the different layers that seem to be going on in the reported stack trace, would you be able to help provide a small reproducer sample so we can look into this further?

[2022-10-31 20:54] olavloite opened #480 "hibernate.hbm2ddl.auto=update can cause `Executing queries is not allowed for DDL batches.` error"
Starting Hibernate with `hibernate.hbm2ddl.auto=update` with an existing database that contains foreign keys can cause the error listed below. This happens because Hibernate tries to extract additional metadata to check which columns are present on a table using a non-standard query (that is; it does not use one of the standard JDBC `DatabaseMetaData` methods). This is not allowed inside a DDL bat

[2022-11-03 12:56] #480 closed

[2022-11-08 15:50] gaeshi opened #482 "Verification that the composite key for an interleaved class is a super set of the parent class primary key is broken"
How to reproduce:

1. Run [basic-hibernate-sample](https://github.com/GoogleCloudPlatform/google-cloud-spanner-hibernate/tree/master/google-cloud-spanner-hibernate-samples/basic-hibernate-sample).

The following WARN log appears:

[code]

However, the tables are created fine and the code seems to run fine.

Looks like `com.google.cloud.spanner.hibernate.schema.SchemaUtils.resolveIdFields()` isn't

[2022-11-10 05:43] gaeshi commented on #482
@elefeint

It does look like the code is running fine.

I tried looking at the [InterleavedTest](https://github.com/GoogleCloudPlatform/google-cloud-spanner-hibernate/blob/5fe47476c5cdc62b526799525b8b33804db2c2e9/google-cloud-spanner-hibernate-testing/src/test/java/org/hibernate/dialect/InterleavedTest.java), thinking that I'm not using the library properly, but unfortunately there were only the t

[2022-11-10 06:07] gaeshi commented on #482
Here is a minimal PoC to reproduce the issue: https://github.com/mixefy/spanner-hibernate-interleaved-poc

[2022-11-11 16:16] elefeint commented on #482
@olavloite @JoeWang1127 FYI.

[2022-11-14 06:48] gaeshi commented on #482
@elefeint

Trying to save the interleaved list throws an exception.

For some reason an update statement gets executed trying to update the primary key:

[code]

I've added an integration test to the repository to reproduce the problem [here](https://github.com/mixefy/spanner-hibernate-interleaved-poc/blob/d7a2e61ecd7c7e417a1f7dd205df28e5fe344b09/src/test/kotlin/jp/mixefy/spannerhibernatepoc/Reque

[2022-11-17 10:11] olavloite opened #485 "BitReversedSequence value generation can fail due to concurrent modification exception"
The `BitReversedSequenceGenerator` can fail when generating a new sequence value if multiple threads are trying to update the same sequence concurrently. The `AbortedDueToConcurrentModificationException` can (and should) be retried, as Hibernate will execute the update of the sequence value in an isolated transaction.